{% extends 'base.html' %}
{% load i18n%}
{% block content %}
<div class="content-split">
    <div class="navigation">
        <a href="{% url 'viewSovet'%}">{% trans 'Наблюдательный совет' %}</a>
        <a href="{% url 'ceo-info'%}"> Руководство</a>
        <a href="{% url 'orgStruct' %}" class='selected'>{% trans 'Структура' %}</a>
        <a href="{% url 'error505' %}">Кадровая политика</a>
        <a href="{% url 'strategic-dev'%}">{% trans 'Стратегическое развитие' %}</a>
        <a href="{% url 'ads'%}">{% trans 'Государственные закупки' %}</a>
        <a href="{% url 'managment_standart'%}">{% trans 'Стандарт менеджемента' %}</a>
        <a href="{% url 'antiCor'%}">{% trans 'Противодействие коррупции' %}</a>
        <a href="{% url 'accreditation'%}">{% trans 'Аккредитация' %}</a>
        <a href="{% url 'error505' %}">Охрана труда</a>
    </div>
    <div class="rules">
        <span class="Title"> {% trans 'Организационная структура' %} </span>
        {% if file %}
        <div class="documents">
            <img src="/media/{{file.file}}"></img>
        </div>
        {% endif %}
        <div class="section-list">
            {% if deps %}
            {% for dep in deps %}
            <button class="accordion">{{dep.name}}</button>
            <div class="panel">
                {% for info in dep.info %}
                    <p>{{info}}</p>
                {% endfor %}
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
<script src="/static/accordion.js"></script>
{% endblock %}
