{% extends 'base.html' %}
{% load  i18n %}
{% block content %}
<div class="content-split">
    <div class="navigation">
        <a href="{% url 'viewSovet'%}">{% trans 'Наблюдательный совет' %}</a>
        <a href="{% url 'ceo-info'%}" class='selected'> Руководство</a>
        <a href="{% url 'orgStruct' %}">{% trans 'Структура' %}</a>
        <a href="{% url 'vacancies' %}">Вакансии</a>
        <a href="{% url 'strategic-dev'%}">{% trans 'Стратегическое развитие' %}</a>
        <a href="{% url 'ads'%}">{% trans 'Государственные закупки' %}</a>
        <a href="{% url 'managment_standart'%}">{% trans 'Стандарт менеджемента' %}</a>
        <a href="{% url 'antiCor'%}">{% trans 'Противодействие коррупции' %}</a>
        <a href="{% url 'accreditation'%}">{% trans 'Аккредитация' %}</a>
        <a href="{% url 'error505' %}">Охрана труда</a>
    </div>
    <div class="rules">
        <span class="Title">{% trans 'Сведения о руководстве' %}</span>
        {%for data in datas%}
            <div class="new-frame">
                {% if not data %}
                {%else%}
                <div class="ceo-info">
                    <div class="photo">
                        <img src="../../media/{{data.photo}}" alt="">
                    </div>
                    
                    {% if data.name and data.date_of_birth %}
                    <span>
                        <h1>{{data.name}}</h1>
                        <h2>{{data.date_of_birth}}</h2>
                        {%if data.post%}
                        <h2>{{data.post}}</h2>
                        {%endif%}
                    </span>
                    
                </div>
                {% endif %}
                <div class="rule-plates">
                    <div class="rule-block">
                        {% if data.edu_parts %}
                        <h3>{% trans 'Образование' %}:</h3>
                        <ul>
                        {% for part in data.edu_parts %}
                            <li>{{ part }}</li>
                        {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <div class="rule-block">
                        {% if data.spec_parts %}
                        <h3>{% trans 'Научная степень' %}:</h3>
                        <ul>
                        {% for part in data.spec_parts %}
                            <li>{{ part }}</li>
                        {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <div class="rule-block">
                        {% if data.work %}
                        <h3>{% trans 'Трудовая деятельность' %}:</h3>
                        <ul>
                        {% for part in data.work %}
                            <li>{{ part }}</li>
                        {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <div class="rule-block">
                        {% if data.add_parts %}
                        <h3>{% trans 'Дополнительно' %}:</h3>
                        
                        <ul>
                            {% for part in data.add_parts %}
                                <li>{{ part }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <div class="rule-block">
                        {% if data.awards_parts %}
                        <h3>{% trans 'Награды' %}:</h3>
                        
                        <ul>
                            {% for part in data.awards_parts %}
                                <li>{{ part }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <div class="rule-block">
                        {% if data.sertif_parts %}
                        <h3>{% trans 'Сертификаты' %}:</h3>
                        
                        <ul>
                            {% for part in data.sertif_parts %}
                                <li>{{ part }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <div class="rule-block">
                        {% if data.public_parts %}
                        <h3>{% trans 'Публикации' %}:</h3>
                        
                        <ul>
                            {% for part in data.public_parts %}
                                <li>{{ part }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <div class="rule-block">
                        {% if data.positions %}
                        <h3>{% trans 'Должности' %}:</h3>
                        <ul>
                            {% for part in data.positions %}
                                <li>{{ part }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
                {% endif %}
            </div>
        {%endfor%}
    </div>
</div> 
{% endblock %}