{% extends 'base.html' %}
{% load i18n %}
{% block content %}

<div class="news-plates">
    <div class="new-review">
        <span class="Title">{% trans 'Новости' %}</span>
        {% if user.is_authenticated and user.is_staff %}
        <a href="{% url 'new_new' %}" class="btn2"> {% trans 'Добавить объявление' %}</a>
        {% endif %}
    </div>
    <div class="news-list">
        {% for post in post_list %}
        {% comment %} <div class="new-frame">
            <div class="frame-header-block">
                <span class="frame-header mg-t">{{post.title}}</span>

                <p style="font-weight: 300; font-size: 15px;"><i>{%trans 'Опубликовано'%}:
                    </i><b>{{post.author.name}}</b></p>
            </div>
            <hr>
            <span class="frame-content">{{post.content}} </span>
            <div class="frame-btn">
                <p class="date">{{post.date}}</p>
                <a href="{% url 'new_detail' pid=post.pk %}" class="btn">{%trans 'Читать далее'%}...</a>
            </div>

        </div> {% endcomment %}
        <a class="news-item" href="{% url 'new_detail' pid=post.pk %}">
            <div class="news-pic" {% if post.att.type == 'img' %} style="background-image: url(/media/{{post.att.file}});" {% else %} style="background-image: url(../../static/assets/no-content-banner.jpg);" {%endif%}>
            </div>
            <p class="news-date">{{post.date}}</p>
            <p class="news-title">{{post.title}}</p>
        </a>

        {% endfor %}
    </div>
</div>
{% endblock %}