{% extends 'base.html' %}
{% load i18n%}
{% block content %}
<div class="content-inner">
    <div class="new-frame">
        <h1 class="fame-header">{{post.title}}</h1>
        {% if post.author %}
        <p style="font-weight: 300; font-size: 15px;">{%trans 'Опубликовано'%}: <b>{{post.author.name}}</b></p>
        {% endif %}
        <p class="big_content">
            {% for info_part in post.content %}
                <p>{{info_part}}</p>
            {% endfor %}</p>
        <div class="big-pics">
            {% comment %} {% for att in attachments %}
            {% if att.type == 'img' %}
            <div class="big_pic">
                <img src="/media/{{att.file}}" alt="" height="100%">
            </div>
            {% else %}
            <div class="documents">
                <iframe src="/media/{{att.file}}"></iframe>
            </div>
            {% endif %}
            {% endfor %} {% endcomment %}
            <div class="swiper sw2 full-sw">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    {% for att in attachments %}
                    {% if att.type == 'img' %}
                    <div class="swiper-slide ssl"><img
                            src="/media/{{att.file}}" alt="" height="400px"></div>
                    {% endif %}
                    {% endfor %}
                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination pag"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
                <!-- If we need navigation buttons -->
            </div>
        </div>
        <div class="mobile-news-pic">
            {% for att in attachments %}
                {% if att.type == 'img' %}
                    <div class="news-picture"><img
                    src="/media/{{att.file}}" alt="" width="100%"></div>
                {% endif %}
            {% endfor %}
        </div>

        <p class="date mg-b">{{post.date}}</p>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="../static/script.js"></script>
{% endblock %}