{% extends 'base.html' %}
{% load  i18n %}
{% block content %}
<div class="content-split">
    <div class="navigation">
        <a href="{% url 'science'%}">{%trans 'Научные разработки'%}</a>
        <a href="{% url 'scienceSovet'%}" class='selected'>{%trans 'Научно-технический совет'%}</a>
        <a href="{% url 'plans'%}">{%trans 'Планы'%}</a>
        <a href="{% url 'science_achievments'%}">{%trans 'Достижения'%}</a>
        <a href="{% url 'LEK-list'%}">ЛЭК</a>
    </div>
    <div class="rules">
        {%if datas.title%}
        <span class="Title">{{datas.title}}</span>
        {%endif%}
        <div class="rule-plates">
                <div class="new-frame">
                {%if datas.description %}
                <h3>{%trans 'Описание Научно-технического совета'%}</h3>
                    {%for data in datas.description%}
                        <p>{{data}}</p>
                    {%endfor%}
                {%endif%}
                {% if datas.creation %}
                    <h3>{%trans 'Приказ о создании Научно-технического совета'%}</h3>
                    <a class="anticor-list" href = "{% url 'creation_details' fid=datas.pk %}">{{datas.creation_name}}</a>
                {% endif %}
                {% if regulations %}
                    <h3>{%trans 'Положение'%}</h3>
                    {%for data in regulations%}
                        <a class="anticor-list" href = "{% url 'regulation_details' fid=data.pk%}">{{data.title}}</a>
                    {%endfor%}
                {% endif %}
                {%if plans %}
                <h3>{%trans 'Планы'%}</h3>
                    <div class="rule-block">
                        {%for plan in plans%}
                            <p><a class="anticor-list" href = "{% url 'plan_details' fid=plan.pk%}">{{plan.title}}</a></p>
                        {%endfor%}
                    </div>
                {%endif%}
                {% if meetings %}
                    <h3>{%trans 'Заседания'%}</h3>
                    <div class="rule-block">
                        {%for meet in meetings%}
                        <p><a class="anticor-list" href = "{% url 'meetings_details' fid=meet.pk%}">{{meet.title}}</a></p>
                        {%endfor%}
                    </div>
                {%endif%}
            </div>
        </div>
    </div>
</div>
{% endblock %}