{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<div class="content-split">
    <div class="navigation">
        <a href="{% url 'gobmp'%}" class='selected'>{% trans 'Путевки по ГОБМП' %}</a>
        <a href="{% url 'rules'%}">{% trans 'Правила санатория' %}</a>
    </div>
    <div class="rules">
        <span class="Title">{{data.title}}:</span>
        <div class="new-frame">
            {%for info in data.info_parts%}
            <p>{{info}}</p>
            {%endfor%}
            <h3>Кто имеет право на бесплатную реабилитацию:</h3>
            <h3>Взрослые:</h3>
            {%for info in data.adults%}
            <p>{{info}}</p>
            {%endfor%}
            <h3>Дети:</h3>
            {%for info in data.children%}
            <p>{{info}}</p>
            {%endfor%}
            <h3>Для получения бесплатной путевки в рамках ОСМС необходимо:</h3>
            {%for info in data.add%}
            <p>{{info}}</p>
            {%endfor%}
        </div>
    </div>
</div>
</div>
{% endblock %}