{% extends 'base.html' %}
{% load  i18n %}
{% block content %}
<div class="content-inner">
    
    <div class="rules">
        <span class="Title">{% trans 'История НИИ' %}</span>
        
        <div class="rule-plates">
            
            <div class="new-frame">
                <div class="poem"><i>
                    {% for part in history.poem %}
                        <p>{{ part }}</p>
                    {% endfor %}
                </i></div>
                {% for part in history.info_parts %}
                    <p>{{ part }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
    
</div> 
{% endblock %}