{% extends 'base.html' %}

{% block content %}
{% load  i18n %}
<div class="content-split">
    <div class="navigation">
        <a href="{% url 'ceo-info'%}"> Руководство</a>
        <a href="{% url 'workers-info'%}" class='selected'>Информация о сотрудниках</a>
    </div>
    <div class="rules">
        <span class="Title">{%trans 'Сведения о квалификации медицинских работников'%} с высшим медицинским образованием</span>
        
        <div class="rule-plates">
            <div class="tables">
                <table >
                    <tr>
                        <th>{% trans 'ФИО' %}</th> <th>{% trans 'Должность' %}</th> <th>{%trans 'Стаж'%}</th> <th>{%trans 'Сертификат специалиста'%}</th>
                    </tr>
                    {% for worker in workers %}
                        <tr>
                            <td>{{worker.name}}</td> <td>{{worker.post}}</td> <td>{{worker.work_exp}}</td> <td>
                                {%for serts in worker.sertificates%}
                                    {{serts}}
                                {%endfor%}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    
</div> 
{% endblock %}