{% extends 'base.html' %}
{% load  i18n %}
{% block content %}
<div class="content-split">
    <div class="navigation">
        <a href="{% url 'med-services'%}">{% trans 'Медицинские услуги' %}</a>
        <a href="{% url 'rules'%}" >{% trans 'Правила санатория' %}</a>
        <a href="{% url 'gobmp'%}" class='selected'>{% trans 'Путевки по ГОБМП' %}</a>
    </div>
    <div class="rules">        
        <h2 class="Title">Стратегическое развитие</h2>
        <div class="rule-plates">
            
            
            <table >
                
                <tr>
                    <th>{% trans 'Название' %}</th> <th>{% trans 'Скачать' %}</th> 
                </tr>
                {% for post in stratDevs %}
                    <tr>
                        <td>{{post.name}} </td> <td><a href="{% url 'download_file' sid=post.pk %}">Скачать</a></td> 
                    </tr>
                {% endfor %}
            </table>
            
        </div>
    </div>
</div>
</div>
{% endblock %}