{% extends 'base.html' %}
{% load  i18n %}
{% block content %}
<div class="content-split">
    <div class="navigation">
        <a href="{% url 'strategic-dev'%}" class='selected'>{% trans 'Стратегическое развитие' %}</a>
        <a href="{% url 'antiCor'%}">{% trans 'Противодействие коррупции' %}</a>
        <a href="{% url 'ads'%}">{% trans 'Государственные закупки' %}</a>
        <a href="{% url 'managment_standart'%}">{% trans 'Стандарт менеджемента' %}</a>
        <a href="{% url 'viewSovet'%}">{% trans 'Наблюдательный совет' %}</a>
        <a href="{% url 'accreditation'%}">{% trans 'Аккредитация' %}</a>
    </div>
    <div class="rules">        
        <h2 class="Title">Стратегическое развитие</h2>
        <div class="rule-plates">
            
            
            <table >
                
                <tr>
                    <th>{% trans 'Название' %}</th> <th>{% trans 'Скачать' %}</th> 
                </tr>
                {% for post in stratDevs %}
                    <tr>
                        <td>{{post.name}} </td> <td><a href="{% url 'download_file' sid=post.pk %}">Скачать</a></td> 
                    </tr>
                {% endfor %}
            </table>
            
        </div>
    </div>
</div>
</div>
{% endblock %}