{% extends 'base.html' %}
{% load  i18n %}
{% block content %}
<div class="content-split">
    <div class="navigation">
        <a href="{% url 'sci-dev'%}">Научные разработки</a>
        <a href="{% url 'plans'%}">Планы</a>
        <a href="{% url 'achievments'%}" class='selected'>Достижения</a>
    </div>
    <div class="rules">
        <span class="Title">{% trans 'Достижения' %}:</span>
        {% comment %} <div class="new-frame">
            <div class="rule-plates">
                <h2>{% trans 'Права пациентов' %}</h2>
                {% for rule in rules %}
                <div class="rule-block">
                    <h3>{{ rule.title }}</h3>
                    <ul>
                    {% for part in rule.info_parts %}
                        <li>{{ part }}</li>
                    {% endfor %}
                    </ul>
                </div>
                {% endfor %}
            </div>
        </div> {% endcomment %}
    </div>
</div>
</div>
{% endblock %}