{% extends 'base.html' %}
{% load  i18n %}
{% block content %}
<div class="content-split">
    <div class="navigation">
        <a href="{% url 'viewSovet'%}">{% trans 'Наблюдательный совет' %}</a>
        <a href="{% url 'ceo-info'%}"> Руководство</a>
        <a href="{% url 'orgStruct' %}">{% trans 'Структура' %}</a>
        <a href="{% url 'error505' %}">Кадровая политика</a>
        <a href="{% url 'strategic-dev'%}">{% trans 'Стратегическое развитие' %}</a>
        <a href="{% url 'ads'%}">{% trans 'Государственные закупки' %}</a>
        <a href="{% url 'managment_standart'%}" class='selected'>{% trans 'Стандарт менеджемента' %}</a>
        <a href="{% url 'antiCor'%}">{% trans 'Противодействие коррупции' %}</a>
        <a href="{% url 'accreditation'%}">{% trans 'Аккредитация' %}</a>
        <a href="{% url 'error505' %}">Охрана труда</a>
    </div>
    <div class="rules">
        <span class="Title">{% trans 'Стандарт менеджемента' %}:</span>
        {% comment %} <div class="new-frame">
            <div class="rule-plates">
                <h2>{% trans 'Права пациентов' %}</h2>
                {% for rule in rules %}
                <div class="rule-block">
                    <h3>{{ rule.title }}</h3>
                    <ul>
                    {% for part in rule.info_parts %}
                        <li>{{ part }}</li>
                    {% endfor %}
                    </ul>
                </div>
                {% endfor %}
            </div>
        </div> {% endcomment %}
    </div>
</div>
</div>
{% endblock %}