{% extends 'base.html' %}
{% load  i18n %}
{% block content %}
<div class="content-inner">
    
    <div class="rules">
        <span class="Title">{% trans 'Стратегические партнеры и международное сотрудничество' %}:</span>
        <p>Заключены Меморандумы и проведены мероприятия по обмену опытом с ведущими научными и медицинскими организациями Казахстана, Европы, Кыргызстана и России:</p>
        <ul>
            <li>Товарищество с ограниченной ответственностью «Институт гидрогеологии и геоэкологии имени У.М. Ахмедсафина</li>
            <li>НАО «Казахский Национальный Медицинский Университет им. С.Д. Асфендиярова»</li>
            <li>НАО «Медицинский Университет Караганды»</li>
            <li>НАО «Медицинский Университет Астана»</li>
            <li>АО Лечебно-оздоровительный комплекс «Окжетпес»</li>
            <li>РГП на ПХВ «Национальный научный центр развития здравоохранения» им. С.Каирбековой» МЗ РК</li>
            <li>АО Санаторий «Янган-Тау» Башкирия, Россия</li>
            <li>ООО санаторий «Юматово», Башкирия, Россия</li>
            <li>Ассоциация курортов Кыргызстана</li>
            
        </ul>

    </div>
</div>
</div>
{% endblock %}