{% extends 'base.html' %}
{% load  i18n %}
{% block content %}
<div class="content-split">
    
    <div class="rules">
        <span class="Title">{% trans 'Проезд' %}:</span>
        <div class="new-frame">
            <div class="rule-plates">
                <h2>{% trans 'Схема расположения реабилитационных отделов' %}</h2>
                <div class="rule-block">
                    <img src = "../../../static/assets/transit.jpeg">
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}