{% extends 'base.html' %}
{% load  i18n %}
{% block content %}
<div class="content-split">
    <div class="navigation">
        <a href="{% url 'srategic-dev'%}">{% trans 'Стратегическое развитие' %}</a>
        <a href="{% url 'antiCor'%}">{% trans 'Противодействие коррупции' %}</a>
        <a href="{% url 'ads'%}">{% trans 'Государственные закупки' %}</a>
        <a href="{% url 'managment_standart'%}">{% trans 'Стандарт менеджемента' %}</a>
        <a href="{% url 'viewSovet'%}">{% trans 'Наблюдательный совет' %}</a>
        <a href="{% url 'accreditation'%}">{% trans 'Аккредитация' %}</a>
    </div>
    <div class="rules">
        <span class="Title">{% trans 'Аккредитация' %}:</span>
        <div class="new-frame">
            <div class="rule-plates">
                {% for post in posts %}
                <div class="rule-block">
                    
                    <a href="{% url 'accredit_detail' pid=post.pk %}">
                        <img src="../../media/{{post.image}}">
                    </a>
                    <h3>{{ post.title }}</h3>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}